
.checkbox-component {
    padding: 2px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
}

.checkbox-component input {
    width: 0px;
    height: 0px;
    margin: 0px;
    position: absolute;
}

.small .track {
    width: 36px;
    height: 20px;
}

.medium .track {
    width: 44px;
    height: 24px;
}

input:checked + .track {
    background: #4338CA;
}

.track {
    background: #E5E7EB;
    border-radius: 999px;
    position: relative;
}

.track:after {
    content: "";
    position: absolute;
    background: #fff;
    border-radius: 50%;
    inset: 2px;
    transform: translateX(0);
}

.small .track:after {
    width: 16px;
    height: 16px;
}

.medium .track:after {
    width: 20px;
    height: 20px;
}

.small input:checked + .track:after {
    transform: translateX(16px);
}

.medium input:checked + .track:after {
    transform: translateX(20px);
}