
.checkbox-component {
    padding: 2px;
    cursor: pointer;
    display: flex;
}

.checkbox-component input {
    width: 0px;
    height: 0px;
    margin: 0px;
    position: absolute;
}

input:checked:focus-visible + .track, input:checked:hover + .track {
    border: 1px solid #4F46E5;
    box-shadow: 0px 0px 0px 4px #E9EAFC;}

input:focus-visible + .track:after, input:hover + .track:after {
    inset: 1px;
}

.small .track {
    width: 36px;
    height: 20px;
}

.medium .track {
    width: 44px;
    height: 24px;
}

input:hover + .track, input:focus-visible + .track {
    background: #D1D5DB;
    border: 1px solid #9CA3AF;
    box-shadow: 0px 0px 0px 4px #EBEDEF;
}

input:checked + .track {
    background: #4338CA;
}

input:disabled + .track:after {
    background: #D1D5DB;
}

.track {
    background: #E5E7EB;
    border-radius: 999px;
    position: relative;
}

.track:after {
    content: "";
    position: absolute;
    background: #fff;
    border-radius: 50%;
    inset: 2px;
    transform: translateX(0);
}

.small .track:after {
    width: 16px;
    height: 16px;
}

.medium .track:after {
    width: 20px;
    height: 20px;
}

.small input:checked + .track:after {
    transform: translateX(16px);
}

.medium input:checked + .track:after {
    transform: translateX(20px);
}